<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main6.css">
    <script src="/script6.js" defer></script>


    <title>Document</title>
</head>
<body>
    
    <div class="container" > 
        <nav class="nav-bar">
            <img src="../logo.png" id="logo" alt="">
            <a href="/addUser">Home</a>
            <a href="/addUser">All Users</a>
            <a href="#">About Us</a>
            <div class="profile">
                <img src="#" id="prof-img" alt="">
                <p>User</p>
            </div>            
        </nav>
    </div>



    <div class="container2">

        <h1> Welcome <%= selectedUser.name%> </h1>
        <h1>Your Account is <%= selectedUser.status%>  </h1>

    </div>



   



    <footer class="foot">
        <img src="../logo.png" alt="">

        <div class="about-us">
            <p>Travler is your ultimate online destination for all things travel. Founded in 2016 by a group of passionate globetrotters, this website has since become a trusted resource for wanderers, adventurers, and travel enthusiasts worldwide.
            </p>
        </div>

        <div class="links">
            <h3>Quick Links</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & conditions </a>
            <a href="#">Services </a>

        </div>
    </footer>



</body>
</html>
